*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(236, 234, 234);
}
 img{
 margin-top: 0px;
  font-size: 10px;
 text-align: center;
  
  
 
}

.container{
    
    flex-direction: row;
}
span{
color: rgb(11, 95, 173);
}
section.card-center{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 12px 1px gray;
    background-color: rgba(255, 255, 255, 0.993);
    width: 405px;
    height: 75%;
    padding: 0px 30px;
    border-radius: 12px;
}
section.login{
    position: absolute;
    top: 30px;
    left: 30%;
    transform: translate(-50%, 0%);
    
}
div.input-group{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
div.input-group > label{
    margin-top: 10px;
    font-weight: 500;
    text-align: left;
}
div.input-group > input[type="text"],
div.input-group > input[type="email"],
div.input-group > input[type="password"]{
    padding: 18px;
    border-radius: 18px;
    border: 1px solid rgb(147, 145, 145);
}
input{
    padding: 10px;
    font-size: 16px;
}
input:focus::placeholder{
    opacity: 0;
    transition: 0.5s;
}

input::placeholder{
    opacity: 1;
    transform: opacity 0.5s;
}
button.btn-blue{
    background-color: rgb(6, 121, 230);
    color: white;
    padding: 18px;
    border-radius: 15px;
    border: none;
    width: 100%;
}
.container{
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    
}
@media (max-width: 480px){
    .container{
      margin: 20px;
        padding: 10px;
    }
}


