*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(236, 234, 234);
}
section.card-center{
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 12px 1px gray;
    background-color: white;
    width: 520px;
    height: 75%;
    padding: 0px 40px;
    border-radius: 12px;
}
div.input-group{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
div.input-group > label{
    margin-top: 20px;
    font-weight: 500;
    text-align: left;
}
div.input-group > input[type="text"],
div.input-group > input[type="email"],
div.input-group > input[type="password"]{
    padding: 18px;
    border-radius: 18px;
    border: 1px solid rgb(147, 145, 145);
}
button.btn-blue{
    background-color: rgb(6, 121, 230);
    color: white;
    padding: 18px;
    border-radius: 15px;
    border: none;
    width: 100%;
}
